:root {
    --brand-color-primary: #dc3545;
    --brand-color-secondary: #4169e1;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom styling */
html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* utilities styles */
img {
    max-width: 100%;
}

h3.feature-title {
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--brand-color-primary);
}

i.fa {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /* color: #6c6f73; */
}


#stage {
    background: url(../img/photo7.jpeg) center center no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.2rem;
    font-weight: 200;
    /* padding: 1rem; */
    max-width: 60rem;
    margin: 3rem auto 0;
    text-align: center;
}

#stage-caption h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.feature {
    padding: 2rem;
}


/* Feature one */
.feature-one-service {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}


.services {
    background: rgba(255, 0, 0, 0.3);
    margin: 0.75rem;
}

/* feature two */


#collectionBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-products {
    border: none;
    outline: none;
    padding: 0.5rem;
    margin: 0.3rem;
    color: var(--brand-color-primary);
    background-color: #fff;
    cursor: pointer;
}
.btn-products:hover {
    background-color: var(--brand-color-primary);
    color: #fff;
}
.btn-products:active {
    background-color: rgba(255, 0, 0, 0.5);
}

.product-item {
    display: none;
}
.product-item-show {
    display: block;
}

.product-img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.product-selectbtn-div a {
    font-size: 0.75rem;
}

/* FEATURE THREE */
#feature-three {
    background: linear-gradient( rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('../img/photo4.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    color: #fff;
    margin: 3rem 0;
    text-align: center;
}

.training-btn {
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.training-btn:hover {
    background-color: var(--brand-color-primary);
    color: inherit;
}

/* feature four */

.testimonial-container {
    padding: 1rem;
    text-align: center;
}

.testimonial-wrapper {
    /* width: 90%; */
    margin: 0 auto;
    padding: 0.5rem;
    /* border: 1px solid #000; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.testimonials {
    display: none;
}

.testimonial-image-wrapper {
    margin: 0 auto 1.2rem;
    position: relative;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
}

.testimonial-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-rating .checked {
    color: orange;
}

.testimonial-counter-wrapper {
    text-align: center;
}

.testimonial-counter {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.2s ease-in;
}
.active,
.testimonial-counter:hover {
    background-color: var(--brand-color-primary);
}

/* fading-animation */
.fade {
    animation: fade 4s ease-in;
}

@keyframes fade {
    from {
        /* transform: translateX(30%); */
        opacity: 0.5;
    }
    to {
        /* transform: translateX(0%); */
        opacity: 1;
    }
}

/* feature-five */
#feature-five .contact-icon {
    color: var(--brand-color-primary);
    font-size: 2.5rem;
    padding: 0.3rem;
}



/* footer section */
#main-footer {
    /* background: linear-gradient( rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('../img/photo4.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    /* background-attachment: fixed; */
    /* width: 100%; */
    background: #000;
    color: #fff;
}
#main-footer .footer-link-heading {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--brand-color-primary);
}
#main-footer a:hover {
    text-decoration: underline;
    color: var(--brand-color-primary);
}


/* media queries */
@media (min-width: 769px) {
    .feature {
        padding: 4rem;
    }
    .feature-one-service {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ===feature five query style=== */
    .feature-five {
        padding: 3rem 4rem;
    }
    .testimonial-image-wrapper {
        width: 12vw;
        height: 12vw;
    }
}